* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  height: 100%;
  position: relative;
  background-color: white;
  font-family: 'Proxima Nova', 'San Francisco', arial, sans-serif;
  color: #1d1d1d;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

button {
  background-color: #16a4bb;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 4.5px 14px;
  cursor: pointer;
}

.App {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.NavBar {
  background-color: #17a2b7;
  color: #5ecc9c;
}

.NavBar li {
  margin: 60px 35px;
}

.NavBar li:first-of-type {
  margin-top: 45px;
}

.NavBar a {
  color: white;
}

.ResponseDisplay {
  width: 50rem;
  /* height: 100rem; */
  background-color: white;
  display: flex;
  flex-direction: column;
  /* flex-grow: 1; */
  /* border-radius: 20px 0 0 20px; */
  margin: 0 100px;
}

.ResponseDisplay h1 {
  margin: 0;
  margin-top: 60px;
  font-weight: 600;
}

.ResponseDisplay h2 {
  font-size: 17px;
  font-weight: 600;
  color: grey;
  margin-bottom: 25px;
}

.statusAndTime {
  display: flex;
  justify-content: space-between;
}

.statusAndTime h3 {
  margin: 18px 0 13px 0;
  font-weight: 650;
}

.statusAndTime h4 {
  font-size: 40px;
  font-weight: 500;
  margin: 0;
}

.statusAndTime img {
  object-fit: cover;
  height: 115px;
  width: 115px;
  margin: auto 0;
  border-radius: 10px;
}

.statusAndTime button {
  margin-top: 13px;
}

.statusCode {
  width: 24rem;
  height: 9rem;
  display: flex;
  justify-content: space-between;
  margin-right: 12px;
  border-radius: 8px;
  background-color: #ceebfb;
  padding: 0 17px 0 25px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
}

.statusCode h4 {
  color: #3177c9;
}

.time {
  width: 24rem;
  height: 9rem;
  display: flex;
  justify-content: space-between;
  margin-left: 12px;
  border-radius: 8px;
  background-color: #dde0ff;
  padding: 0 17px 0 25px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
}

.time h4 {
  color: #8951ff;
}

.responseBody {
  background-color: #f5f5f5;
  margin: 25px 0;
  padding: 0 20px 20px 25px;
  border-radius: 8px;
  font-size: 15px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
}

.responseBody h3 {
  font-weight: 650;
}

.RequestForm {
  background-color: #e3f2f5;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border-radius: 20px 0 0 20px; */
}

.dateAndTime {
  width: 350px;
  height: 100px;
  background-color: #17a2b7;
  margin: 50px auto 10px auto;
  padding: 25px;
  border-radius: 17px;
  display: flex;
  flex-direction: column;
}

.date {
  color: white;
  font-size: 27px;
  margin-bottom: 7px;
}

.datedTime {
  color: #e3f2f5;
  font-size: 20px;
}

.profile {
  width: 350px;
  height: 270px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 17px;
  padding: 30px;
  margin: 17px 0;
}

.profile img {
  width: 110px;
  padding-bottom: 20px;
}

.profile h2,
.profile h3 {
  margin: 0;
  font-size: 15px;
}

.profile h3 {
  font-weight: 500;
  color: grey;
  padding: 5px;
}

.profile button {
  margin: 10px 4px;
  padding: 10px 18px;
}

.requestSection {
  width: 350px;
  height: 145px;
  background-color: white;
  border-radius: 17px;
  padding: 10px 25px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.requestSection h2 {
  font-size: 17px;
}

.requestSection form {
  display: flex;
  flex-direction: column;
}

.requestSection select {
  height: 30px;
  border-color: lightgrey;
  border-right: none;
  border-radius: 7px 0 0 7px;
}

.requestSection input {
  flex-grow: 1;
  width: 220px;
  height: 30px;
  border: 1px solid lightgrey;
  border-left: none;
  border-radius: 0 7px 7px 0;
}

.requestSection button {
  margin: 11px 0;
  width: 70px;
}

.jsonBody {
  width: 350px;
  height: 145px;
  border-radius: 17px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 25px;
  margin: 16px 0 25px 0;
}

.jsonBody h2 {
  font-size: 17px;
}

.jsonBody button {
  width: 60px;
  height: 30px;
  background-color: #4ab14e;
  border-radius: 5px;
  padding: 6px 14px;
  margin-top: 8px;
}
